<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="root">
        <div class="bot_icon">   </div>
        <div class="msg_box off">
            <div class="title_bar">
                Scheme Bot
            </div>

            <div class="msg">
                
            </div>
            <div class="suggestionlist">
            
            </div>
            <form class="input_box" onclick="event.preventDefault();">
                <input class="inputstr"type="text" placeholder="Text to be send..." autofocus>
                <button class="sendbtn" type="submit" onclick="savemsg()">Send <i class="fa fa-send-o"></i></button>
            </form>
        </div>
    </div>
    <script src="../static/index.js"> </script>
</body>
</html>