<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="root">
        <div class="bot_icon">   </div>
        <div class="msg_box off">
            <div class="title_bar">
                Scheme Bot
            </div>

            <div class="msg">
                <div class="botmsg">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nihil, iure eum inventore porro, earum nobis aliquid consequatur quo, placeat eligendi libero laboriosam cum praesentium voluptatibus fuga a dolor illum.
                </div>
                <div class="usermsg">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti sunt corrupti quaerat temporibus voluptatum neque impedit eaque voluptas eos quas voluptatibus rem vero magni ad praesentium consequatur, maiores assumenda illum!
                </div>
                <div class="botmsg">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel fugit at soluta, laborum sunt deserunt explicabo suscipit iusto dolore consequatur alias aliquid earum sapiente quidem fuga ad cupiditate repellendus. Aut!
                </div>
            </div>
            <div class="suggestionlist">
                <!-- <div class="sug">Java</div>
                <div class="sug">Python</div>
                <div class="sug">C </div>
                <div class="sug">SQL</div>
                <div class="sug">Java</div>
                <div class="sug">Python</div>                <div class="sug">SQL</div>
                <div class="sug">Java</div>
                <div class="sug">Python</div>                <div class="sug">SQL</div>
                <div class="sug">Java</div>
                <div class="sug">Python</div> -->
            </div>
            <div class="input_box">
                <input class="inputstr"type="text" placeholder="Text to be send...">
                <div class="sendbtn">Send <i class="fa fa-send-o"></i></div>
            </div>
        </div>
    </div>
    <script src="../static/index.js"> </script>
</body>
</html>